td {
    border: 1px solid black;
    background-color: gray;
    font-size: 30px;
    text-align: center;
    padding: 8px 8px 8px 8px;
  } 
  table {
   background-color: black;
   background-color: black;
   margin-top: 100px;
   margin-left: 550px;
  }
  body {
   background-color: brown;
   display: flex;
   justify-items: center;
  }